Repository camilorinconp/santahelenadelvalleips, changes with the owners that .github/CODEOWNERS names for each.
All owners: @equipo-arquitectura, @database-team, @arquitecto-senior, @backend-team, @frontend-team, @compliance-lead, @product-owner

.github/CODEOWNERS:

# IPS Santa Helena del Valle - Code Owners
# Cada línea es un patrón de archivo seguido de uno o más propietarios
# Los propietarios serán solicitados para revisión cuando alguien abra un PR que modifique estos archivos

# Configuración global del proyecto - requiere revisión de arquitectura
* @equipo-arquitectura

# Base de datos y migraciones - críticos para integridad del sistema
/supabase/migrations/ @database-team @arquitecto-senior
/supabase/config.toml @database-team
/supabase/scripts/ @database-team

# Backend APIs y modelos - core business logic
/backend/models/ @backend-team @arquitecto-senior
/backend/routes/ @backend-team
/backend/database.py @database-team @backend-team
/backend/services/ @backend-team

# Frontend components críticos
/frontend/src/components/ @frontend-team
/frontend/src/api/ @frontend-team @backend-team
/frontend/src/services/ @frontend-team

# Documentación arquitectónica - requiere revisión especializada
/docs/01-foundations/ @arquitecto-senior @equipo-arquitectura
/docs/02-regulations/ @compliance-lead @arquitecto-senior
/docs/03-architecture/ @arquitecto-senior

# Scripts de automatización y DevOps
/backend/scripts/ @backend-team @database-team
/supabase/scripts/ @database-team

# Tests - calidad y regresión
/backend/tests/ @backend-team
/frontend/src/**/*.test.* @frontend-team

# Templates y configuración GitHub - governance
/.github/ @arquitecto-senior @equipo-arquitectura

# Archivos críticos de configuración del proyecto
CLAUDE.md @arquitecto-senior
README.md @equipo-arquitectura
requirements.txt @backend-team
package.json @frontend-team

# Archivos de estado y roadmap - requieren consensus
ESTADO_ACTUAL_POST_REORGANIZACION.md @equipo-arquitectura
ROADMAP.md @equipo-arquitectura @product-owner

# Assets y recursos críticos
/backend/assets/ @backend-team @compliance-lead

feat: Completar Fase 1 de estabilización - Sistema base enterprise ready
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  PROGRESO_PRIMERA_INFANCIA_CONSOLIDADO.md
  __pycache__/conftest.cpython-312-pytest-8.4.2.pyc
  backend/CLAUDE.md
  backend/core/__init__.py
  backend/core/error_handling.py
  backend/core/monitoring.py
  backend/docs/04-development/current-status.md
  backend/main.py
  backend/models/entorno_model.py
  backend/models/paciente_model.py
  backend/requirements-dev.txt
  backend/requirements-lock.txt
  backend/routes/catalogo_ocupaciones_simple.py
  backend/scripts/update-dependencies.sh
  backend/tests/test_atencion_primera_infancia.py
  conftest.py
  mejores_practicas.md
  supabase/.DS_Store
  supabase/docs/.DS_Store
  supabase/docs/02-migrations/.DS_Store
Owners: @arquitecto-senior, @equipo-arquitectura, @backend-team, @database-team

feat(growth-tier): Complete Phase 2 implementation with APM, Security, and Docker
  .dockerignore
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  backend/core/monitoring.py
  backend/core/security.py
  backend/main.py
  backend/routes/atencion_primera_infancia.py
  backend/routes/pacientes.py
  docker-compose.yml
  docker/README.md
  docker/nginx/nginx.conf
  docs/00-PROJECT-CURRENT-STATUS.md
  docs/05-logs/session-logs/sesion-15-septiembre-2025-fase2-completada.md
  frontend/Dockerfile
  scripts/dev-setup.sh
  scripts/docker-dev.sh
  scripts/health-check.sh
  supabase/migrations/20250915130000_create_security_audit_log.sql
Owners: @equipo-arquitectura, @arquitecto-senior, @backend-team, @database-team

feat(control-cronicidad): Implementación completa Control Cronicidad con patrón polimórfico
  backend/models/atencion_model.py
  backend/models/control_cronicidad_model.py
  backend/routes/control_cronicidad.py
  backend/tests/test_control_cronicidad.py
  docs/05-logs/session-logs/control-cronicidad-implementacion-completa.md
  supabase/migrations/20250915200000_fix_control_cronicidad_nullable_atencion_id.sql
Owners: @backend-team, @arquitecto-senior, @equipo-arquitectura, @database-team

feat(tamizaje): Implementar módulo Tamizaje Oncológico completo con arquitectura vertical
  backend/GEMINI.md
  backend/models/tamizaje_oncologico_model.py
  backend/routes/tamizaje_oncologico.py
  backend/test_legacy.py
  backend/test_migration.py
  backend/tests/test_tamizaje_oncologico_completo.py
  supabase/migrations/20250916020000_fix_tamizaje_oncologico_nullable_atencion_id.sql
Owners: @equipo-arquitectura, @backend-team, @arquitecto-senior, @database-team

docs: Guardar estado antes de reorganización documental
  .DS_Store
  backend/CLAUDE.md
  backend/docs/01-foundations/architecture-overview.md
  backend/docs/02-regulations/compliance-analysis-3280.md
  backend/docs/04-development/current-status.md
  docs/.DS_Store
  docs/05-logs/.DS_Store
Owners: @equipo-arquitectura, @arquitecto-senior

docs: REORGANIZACIÓN COMPLETA - Consolidación en hub central único
  backend/docs/01-foundations/architecture-overview.md
  backend/docs/03-architecture/strategic-roadmap.md
  backend/docs/04-development/best-practices-framework.md
  backend/docs/04-development/development-workflow.md
  backend/docs/05-logs/milestones/external-team-proposal.md
  backend/docs/05-logs/milestones/milestone-post-reorganizacion-sept-14.md
  backend/docs/05-logs/milestones/milestone-primera-infancia-sept-15.md
  backend/docs/05-logs/milestones/milestone-reorganizacion-sept-14.md
  backend/docs/05-logs/session-logs/control-cronicidad-implementacion-completa.md
  backend/docs/05-logs/session-logs/sesion-15-septiembre-2025-fase2-completada.md
  docs/.DS_Store
  docs/00-PROJECT-CURRENT-STATUS.md
  docs/00-PROJECT-OVERVIEW.md
  docs/01-ARCHITECTURE-GUIDE.md
  docs/05-logs/.DS_Store
Owners: @equipo-arquitectura

docs: EXCELENCIA DOCUMENTAL ALCANZADA - Arquitectura navegable completa
  backend/CLAUDE.md
  backend/PROJECT-STATUS.md
  backend/README.md
  backend/docs/00-quick-start/README.md
  backend/docs/00-quick-start/compliance-onboarding.md
  backend/docs/00-quick-start/developer-onboarding.md
  backend/docs/01-foundations/architecture-overview.md
  backend/docs/02-regulations/resolucion-3280-annexes/README.md
  backend/docs/02-regulations/resolucion-3280-articles.md
  backend/docs/02-regulations/resolucion-3280-overview.md
  backend/docs/02-regulations/resolucion-3280-riamp.md
  backend/docs/02-regulations/resolucion-3280-rpms.md
  backend/docs/04-development/architectural-patterns.md
  backend/docs/04-development/best-practices-framework-historical.md
  backend/docs/04-development/best-practices-overview.md
  backend/docs/04-development/current-status.md
  backend/docs/04-development/data-strategy.md
  backend/docs/05-logs/milestones/milestone-excelencia-documental-sept-16.md
  backend/main.py
  backend/models/atencion_infancia_model.py
  backend/routes/atencion_infancia.py
  backend/tests/test_atencion_infancia_completo.py
  frontend/FRONTEND-STATUS.md
  frontend/README.md
  frontend/docs/01-foundations/frontend-overview.md
  supabase/.DS_Store
  supabase/CLAUDE.md
  supabase/DATABASE-STATUS.md
  supabase/docs/.DS_Store
  supabase/docs/01-overview/database-overview.md
  supabase/migrations/20250916030000_create_atencion_infancia_table.sql
Owners: @arquitecto-senior, @equipo-arquitectura, @backend-team, @database-team

feat: MÓDULO ADOLESCENCIA Y JUVENTUD COMPLETO - 50% Compliance Alcanzado
  backend/PROJECT-STATUS.md
  backend/docs/00-quick-start/compliance-onboarding.md
  backend/docs/02-regulations/resolucion-3280-overview.md
  backend/docs/02-regulations/resolucion-3280-rpms.md
  backend/docs/05-logs/milestones/milestone-adolescencia-completada-sept-16.md
  backend/main.py
  backend/models/atencion_adolescencia_model.py
  backend/routes/atencion_adolescencia.py
  backend/tests/test_atencion_adolescencia_completo.py
  supabase/migrations/20250916180000_create_atencion_adolescencia_table.sql
Owners: @equipo-arquitectura, @backend-team, @arquitecto-senior, @database-team

feat: MILESTONE ADULTEZ COMPLETADO + SISTEMA OPTIMIZADO - 67% Compliance Alcanzado
  backend/PROJECT-STATUS.md
  backend/main.py
  backend/models/atencion_adultez_model.py
  backend/models/paciente_model.py
  backend/routes/atencion_adultez.py
  backend/routes/pacientes.py
  backend/services/reporteria_pedt.py
  backend/tests/debug/test_asq3_debug.py
  backend/tests/debug/test_ead3_debug.py
  backend/tests/debug/test_entornos_basic.py
  backend/tests/debug/test_flujo_completo_debug.py
  backend/tests/debug/test_update_debug.py
  backend/tests/legacy/test_legacy.py
  backend/tests/legacy/test_manual.py
  backend/tests/legacy/test_migration.py
  supabase/migrations/20250917000000_create_atencion_adultez_table.sql
Owners: @equipo-arquitectura, @backend-team, @arquitecto-senior, @database-team

feat: SISTEMA DE CONTINUIDAD PROFESIONAL IMPLEMENTADO - DevEx Excellence
  DEV-CONTEXT.md
  backend/CLAUDE.md
  backend/PROJECT-STATUS.md
  backend/docs/01-foundations/architecture-overview.md
  frontend/CLAUDE.md
  scripts/dev-resume.sh
  supabase/CLAUDE.md
Owners: @equipo-arquitectura, @arquitecto-senior

feat: MILESTONE VEJEZ COMPLETADO - 83% Compliance Alcanzado
  DEV-CONTEXT.md
  backend/PROJECT-STATUS.md
  backend/main.py
  backend/models/atencion_vejez_model.py
  backend/routes/atencion_vejez.py
  backend/tests/test_atencion_vejez.py
  supabase/migrations/20250917120000_create_atencion_vejez_table.sql
Owners: @equipo-arquitectura, @backend-team, @arquitecto-senior, @database-team

feat: SPRINT PILOTO #1 COMPLETADO - RPC Transaccional + Capa de Servicio Vejez
  DEV-CONTEXT.md
  backend/docs/06-auditorias/2025-09-17_informe_auditoria_backend.md
  backend/models/atencion_vejez_model_fixed.py
  backend/routes/atencion_vejez.py
  backend/services/__init__.py
  backend/services/atencion_vejez_service.py
  frontend/docs/06-auditorias/2025-09-17_informe_auditoria_frontend.md
  recomendaciones_equipo_asesor_externo.md
  supabase/docs/04-auditorias/2025-09-17_informe_auditoria_supabase.md
  supabase/migrations/20250917130000_create_rpc_crear_atencion_vejez_transaccional.sql
Owners: @equipo-arquitectura, @backend-team, @arquitecto-senior, @database-team

docs: UPDATE DEV-CONTEXT - Sprint Piloto #1 listo para revisión Asesor Externo
  DEV-CONTEXT.md
Owners: @equipo-arquitectura

feat(vejez): Refactor to RPC and document audit findings
  backend/docs/01-foundations/architecture-overview.md
  backend/docs/04-development/CI-CD-pipeline.md
  backend/docs/04-development/best-practices-overview.md
  backend/tests/test_atencion_vejez.py
Owners: @equipo-arquitectura, @backend-team

docs: INICIO SPRINT #2 - Refactorización Control Cronicidad RPC+Service
  DEV-CONTEXT.md
Owners: @equipo-arquitectura

feat(cronicidad): Implementar patrón RPC+Service - Sprint #2 COMPLETADO
  backend/routes/control_cronicidad.py
  backend/services/control_cronicidad_service.py
Owners: @backend-team

feat(migration): Agregar RPC transaccional control cronicidad + configuración gitignore
  .gitignore
  supabase/migrations/20250917140000_create_rpc_crear_control_cronicidad_transaccional.sql
Owners: @equipo-arquitectura, @database-team, @arquitecto-senior

Sprint #2: Control Cronicidad - Patrón RPC+Service Completo (#2)
  .gitignore
  DEV-CONTEXT.md
  backend/routes/control_cronicidad.py
  backend/services/control_cronicidad_service.py
  supabase/migrations/20250917140000_create_rpc_crear_control_cronicidad_transaccional.sql
Owners: @equipo-arquitectura, @backend-team, @database-team, @arquitecto-senior

feat(vejez): CENTRALIZACIÓN TOTAL lógica negocio - Sprint #3 COMPLETADO
  backend/routes/atencion_vejez.py
  backend/services/atencion_vejez_service.py
Owners: @backend-team

docs: Actualizar DEV-CONTEXT.md - Sprint #3 COMPLETADO
  DEV-CONTEXT.md
Owners: @equipo-arquitectura

docs: SPRINT #3 APROBADO - Actualizar estado Asesor Externo
  DEV-CONTEXT.md
Owners: @equipo-arquitectura

Sprint #3: Atención Vejez - CENTRALIZACIÓN TOTAL Lógica de Negocio (#3)
  DEV-CONTEXT.md
  backend/routes/atencion_vejez.py
  backend/services/atencion_vejez_service.py
Owners: @equipo-arquitectura, @backend-team

docs: Planificar Sprint #4 - Patrón RPC+Service perfeccionado establecido
  DEV-CONTEXT.md
Owners: @equipo-arquitectura

feat: SPRINT #4 COMPLETADO - Módulo Infancia con Patrón RPC+Service Perfeccionado
  .DS_Store
  DEV-CONTEXT.md
  backend/routes/atencion_infancia.py
  backend/services/atencion_infancia_service.py
  documentos_negocio/Análisis del Mercado y Oportunidad Clave del mercado de las IPS en colombia.doc
Owners: @equipo-arquitectura, @backend-team

fix: Corrección Tests Infancia - Endpoints estadísticas funcionando
  DEV-CONTEXT.md
  backend/routes/atencion_infancia.py
  backend/services/atencion_infancia_service.py
  backend/tests/test_atencion_infancia_completo.py
Owners: @equipo-arquitectura, @backend-team

docs: Actualización DEV-CONTEXT - Sprint #4 Aprobado con Excelencia
  DEV-CONTEXT.md
Owners: @equipo-arquitectura

Sprint #5: Control Cronicidad - CENTRALIZACIÓN TOTAL COMPLETADA
  backend/routes/control_cronicidad.py
  backend/services/control_cronicidad_service.py
  backend/tests/test_control_cronicidad.py
  fix_rpc_control_cronicidad.sql
Owners: @backend-team, @equipo-arquitectura

feat: add build:dev script for Lovable compatibility
  frontend/package.json
Owners: @frontend-team

Clean up whitespace in package.json
  frontend/package.json
Owners: @frontend-team
